body {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    
}

img {
    display: block;
    margin: auto;
    width: 500px;
}

.links {
    padding-top: 30px;
}

.links a {
    padding: 30px;
}